.contenedor {
    display: flex;
    border-color: white;
    border: 5px;
    justify-content: space-between;
    padding: 0 4rem;
    align-items: center;
}

.search {
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
    align-items: center;
}