/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #8cc98a;
  background-image: url("https://res.cloudinary.com/dpjeltekx/image/upload/v1693415055/appDayMar/app/Resultado_Final_zokhlr.png");
  background-blend-mode: overlay;
  background-size: 300px 200px;
  background-position: center;
  color: white;
}